h1 {
    text-align: center;
    font-size:  50px;
    color: blue;
    border: 2px double grey;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: aquamarine;
    border-radius: 5px;
}
h2 {
    text-align: center;
    font-size: x-large;
    color: rgb(0, 80, 200);
    border: 5px dotted aqua;
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
    background-color: darkkhaki;



}

.parents {
    display: flex;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    


}
figure {
    display: inline-block;
}

img {
    width:300px;
    height: 300px;
    border: 10px solid greenyellow;
}

.brothers {
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.neighbor {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

figcaption {
    color: royalblue;
    text-align: center;
    background-color: white;
}

* {
    background-color: lightgrey;
}

.me {
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
@media 
